body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #222, #2d0943, #570404); /* Gradient from grey to dark purple to dark red */
    margin: 0;
    padding: 0;
    color: #fff;  /* Deep red text */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.85); /* Black background with opacity */
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Roboto', serif;
}

p {
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #B30404; /* Deep red border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fffaf0; /* Light parchment */
    font-family: 'Roboto', sans-serif;
    color: #B30404; /* Deep red text */
}

textarea {
    resize: vertical;
}

input[type="file"] {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: inline-block;
    width: auto;
    padding: 12px 20px;
    background-color: #B30404; /* Deep red */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.btn:hover {
    background-color: #ff4d4d; /* Lighter red for hover */
    color: #fff; /* Maintain white text */
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}
