<nav th:fragment="navigation" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/navbar.css}" />
    <div class="navbar_left_container">
        <div class="nav_icon_container">
            <a class="clickable nav_logo" href="/">
                <img id="big-logo"
                     src="/logo-big.svg"
                >
            </a>
        </div>
    </div>
    <div class="navbar_right_container">
        <!-- Profile container with dropdown -->
        <div class="profile-container" onclick="toggleDropdown()">
            <img id="user-profile-pic"
                 src="/profile-default.svg"
                 alt="Profile Picture"
                 style="width: 40px; height: 40px; border-radius: 50%;"
            />
            <div id="dropdown-menu" class="dropdown-menu hidden">
                <a id="view-profile-link" class="dropdown-item" href="#">View Profile</a>
                <a id="logout-link" class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <script th:inline="none">
        // function getUserDetails() {
        //     console.log("Get User Details");
        //     fetch('/loggedUser', {
        //         method: 'GET',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         }
        //     })
        //         .then(response => {
        //             if (!response.ok) {
        //                 throw new Error(`HTTP error! status: ${response.status}`);
        //             }
        //             return response.json();
        //         })
        //         .then(response => {
        //             document.getElementById("view-profile-link").setAttribute("href", "/profile/" + response.id);
        //             if (response.picUrl) {
        //                 document.getElementById("user-profile-pic").setAttribute("src", response.picUrl);
        //             }
        //         });
        // }

        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            dropdown.classList.toggle('hidden');
        }

        getUserDetails();

        document.addEventListener('click', function(event) {
            const dropdown = document.getElementById('dropdown-menu');
            const profileContainer = document.querySelector('.profile-container');
            if (!profileContainer.contains(event.target)) {
                dropdown.classList.add('hidden');
            }
        });
    </script>
</nav>