<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Details</title>
</head>
<body>
<div th:insert="fragments/nav :: navigation"></div>
<img th:src="@{{imageName}(imageName=${background.backgroundImage})}" alt="Background Image">
<h1>You've chosen: <span th:text="${background.backgroundName}"></span></h1>

<p><span th:text="${background.backgroundDescription}"></span></p>
<p><strong>Bonus Feat:</strong> <span th:text="${background.backgroundFeat}"></span></p>
<p><strong>Ability Scores:</strong>
    <span th:text="${background.backgroundAbilityScore1}"></span>,
    <span th:text="${background.backgroundAbilityScore2}"></span>,
    <span th:text="${background.backgroundAbilityScore3}"></span>
</p>
<p><strong>Skill Proficiencies:</strong>
    <span th:text="${background.backgroundSkillProficiency1}"></span> and
    <span th:text="${background.backgroundSkillProficiency1}"></span>
</p>
<p><strong>Tool Proficiency:</strong> <span th:text="${background.backgroundToolProficiency}"></span></p>
<p><strong>Feat:</strong> <span th:text="${background.backgroundFeat}"></span></p>

<a th:href="@{/choose-background/character/{characterId}(characterId=${characterId})}" class="back">Go Back to the background page</a>

<form id="updateBackgroundNameForm" th:action="@{/update-background-name}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" id="backgroundName" name="backgroundName" th:value="${background.backgroundName}">
    <input type="hidden" id="characterId" name="characterId" th:value="${characterId}">
    <button type="submit">Add Background</button>
</form>

</body>
</html>

