<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Details</title>
</head>
<body>
<h1><span th:text="${background.get().backgroundName}"></span></h1>


<p><span th:text="${background.get().backgroundDescription}"></span></p>
<p><strong>Bonus Feat:</strong> <span th:text="${background.get().backgroundFeat}"></span></p>
<p><strong>Ability Scores:</strong>
    <span th:text="${background.get().backgroundAbilityScore1}"></span>,
    <span th:text="${background.get().backgroundAbilityScore2}"></span>,
    <span th:text="${background.get().backgroundAbilityScore3}"></span>
</p>
<p><strong>Skill Proficiencies:</strong>
    <span th:text="${background.get().backgroundSkillProficiency1}"></span> and
    <span th:text="${background.get().backgroundSkillProficiency1}"></span>
</p>
<p><strong>Tool Proficiency:</strong>
    <span th:text="${background.get().backgroundToolProficiency}"></span>
</p>
<p><strong>Feat:</strong>
    <span th:text="${background.get().backgroundFeat}"></span>
</p>
</body>
</html>

