<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character Details</title>
  <link rel="stylesheet" href="/character-details.css">
</head>
<body>
<div th:insert="fragments/nav :: navigation"></div>
<div class="main-container">
<div class="character-details-container">
  <div class="character-image" th:if="${character.characterPicUrl != null}">
    <img th:src="@{${character.characterPicUrl}}" alt="Character Picture">
  </div>
  <div class="character-image" th:if="${character.characterPicUrl == null}">
    <img src="/images/default-character.png" alt="Default Character Picture">
  </div>

  <div class="character-name" th:text="${character.characterName}">Character Name</div>

  <div class="character-info">
    <strong>Level:</strong> <span th:text="${character.characterLevel}">1</span>
  </div>
  <div class="character-info">
    <strong>Species:</strong> <span th:text="${character.characterSpecies}">Species</span>
  </div>
  <div class="character-info">
    <strong>Class:</strong> <span th:text="${character.characterClass}">Class</span>
  </div>
  <div class="character-info">
    <strong>Strength:</strong> <span th:text="${character.characterStrength}">Strength</span>
  </div>
  <div class="character-info">
    <strong>Dexterity:</strong> <span th:text="${character.characterDexterity}">Dexterity</span>
  </div>
  <div class="character-info">
    <strong>Constitution:</strong> <span th:text="${character.characterConstitution}">Constitution</span>
  </div>
  <div class="character-info">
    <strong>Intelligence:</strong> <span th:text="${character.characterIntelligence}">Intelligence</span>
  </div>
  <div class="character-info">
    <strong>Wisdom:</strong> <span th:text="${character.characterWisdom}">Wisdom</span>
  </div>
  <div class="character-info">
    <strong>Charisma:</strong> <span th:text="${character.characterCharisma}">Charisma</span>
  </div>
  <div class="character-info">
    <strong>HP:</strong> <span th:text="${character.characterCurrentHp} + '/' + ${character.characterMaxHp}">HP</span>
  </div>
  <div class="character-info">
    <strong>Armour Class:</strong> <span th:text="${character.characterArmourClass}">Armour Class</span>
  </div>
  <div class="character-info">
    <strong>Coins:</strong> <span th:text="${character.characterCoin}">Coins</span>
  </div>
  <div class="character-info">
    <strong>Proficiency Bonus:</strong> <span th:text="${character.characterProficiencyBonus}">Bonus</span>
  </div>
  <div>
    <a href="/all-characters" class="button-back">Back to Characters</a>
  </div>
</div>


</div>
</body>
</html>
