<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="class.css">
  <title>Class Selection</title>
</head>
<body>
<h1>Select Your Character Class</h1>

<div>
  <p>Hover over a class name to see its description:</p>
  <!-- Iterate over the class descriptions map and create buttons -->
  <div th:each="entry : ${classDescription}">
    <a th:href="@{'/classes/' + ${entry.key}}">
      <button th:text="${entry.key}" th:title="${entry.value}" style="cursor: pointer;"></button>
    </a>
  </div>
</div>

</body>
</html>