<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="class.css">
    <title>Create your own character</title>
</head>
<body>
<h1>Create your own character</h1>
<!--<form th:action="@{/submitCharacter}" th:object="${character}" method="post">-->
<!--    <label for="name">Character Name:</label>-->
<!--    <input type="text" id="name" th:field="*{name}" placeholder="Enter character name" required />-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->
</body>
</html>