<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Name and Pic</title>
</head>
<body>
    <div>
        <div>
            <label for="character-name"> Choose a name for your Character: </label>
            <input type="text" id="character-name"/>
        </div>
        <div>
            <label for="character-pic-url"> Add an url pic for your Character: </label>
            <input type="text" id="character-pic-url"/>
        </div>
        <div>
            <label for="character-description"> Character description: </label>
            <input type="text" id="character-description"/>
        </div>

        <button>Save</button>

    </div>
</body>
</html>