<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Name and Pic</title>
</head>
<body>
    <div>
        <div> Choose a name for your Character: </div>
        <label>
            Character name
            <input type="text" id="character-name"/>
        </label>
        <div> Add an url pic for your Character: </div>
        <label>
            Character pic url
            <input type="text" id="character-pic-url"/>
        </label>
    </div>
</body>
</html>