<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="/profile.css">
</head>
<body>
<div th:insert="fragments/nav :: navigation"></div>
<div class="container">
  <div class="header">
    <a href="/logout" class="btn logout-btn">Logout</a>
  </div>

  <div class="profile">
    <h2>Welcome, <span th:text="${user.displayName}">Display Name</span></h2>
    <p>Bio: <span th:text="${user.userBio}"></span></p>

<!--    <div class="profile-picture">-->
<!--      <img th:if="${user.profilePicture != null}"-->
<!--           th:src="@{/uploads/{fileName}(fileName=${user.profilePicture})}"-->
<!--      <img th:if="${user.profilePicture == null}"-->
<!--           src="/images/default-profile.png"-->
<!--    </div>-->
<!--  </div>-->

  <div class="btn-container">
    <a href="/profile/edit" class="btn">Edit Profile</a>
  </div>

  <form action="/create-character" method="POST" class="btn-container">
    <input type="hidden" name="userId" th:value="${user.id}" />
    <button type="submit" class="btn">Create a new Character</button>
  </form>

  <div class="btn-container">
    <a href="/all-characters" class="btn">See all your characters</a>
    <a href="/all-campaigns" class="btn">See all your campaigns</a>
  </div>
</div>
</body>
</html>
