<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species Details</title>
    <link rel="stylesheet" href="/species-details.css">

</head>
<body>
<!-- Navbar -->
<div th:insert="fragments/nav :: navigation"></div>

<!-- main Content -->
<div class="page-content">

<div class="container">
    <!-- Species Image Section -->
    <div class="section-container">
        <img th:src="@{{imageName}(imageName=${speciesDetails.speciesImage})}" alt="Species Image">
        <h1><span th:text="${speciesDetails.speciesName}"></span></h1>
    </div>

    <!-- Species Information Section -->
    <div class="section-container">
        <p th:if="${speciesDetails != null}">
            <span th:text="${speciesDetails.speciesFlavour}">Species information is not available.</span>
        </p>
        <p th:if="${speciesDetails != null}">
            <span th:text="${speciesDetails.speciesDescription}">Species information is not available.</span>
        </p>
    </div>
        <div class="section-container">
        <p><strong>Speed:</strong> <span th:text="${speciesDetails.speciesSpeed}"></span> feet</p>
        </div>
        <div class="section-container">
        <p><strong>Size:</strong> <span th:text="${speciesDetails.speciesSizeDescription}"></span></p>
        </div>


    <!-- Back Link Section -->
    <div class="section-container">
        <a th:href="@{/choose-species/character/{characterId}(characterId=${characterId})}" class="back">Go Back</a>
    </div>

    <!-- Form Section -->
    <div class="section-container">
        <form id="updateSpeciesForm" th:action="@{/update-species-name}" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" id="speciesName" name="speciesName" th:value="${speciesDetails.speciesName}">
            <input type="hidden" id="characterId" name="characterId" th:value="${characterId}">
            <button type="submit">Choose This Species</button>
        </form>
    </div>
</div>
</div>
</body>
</html>
